*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    top: -5px;
    width: 100%;
    position:fixed;
    z-index: 10;
    opacity: 0.7;
    transition: 0.3s ease-out;
    background:linear-gradient(rgb(218, 218, 218),rgb(198, 198, 198));
}
     #navBar:hover{

        opacity: 1;
        transition: 0.3s ease-in;
        top:0;
        
    }
.deltaLogo{

    height: 100px;
    width: 150px;
    margin-left: 70px;
}
.listaEND{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    margin-right: 70px;
    margin-top: 20px;
    font-size: 20px;
    gap: 50px;
}

.navEND a{ 
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    transition: 0.5s ease;
    
}
.navEND a:not(.menuIcon)::after {

    content: "";
    display: flex;
    position: relative;
    left: 10px;
    width: 0;
    margin-top: 5px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ease;

}

.navEND a:hover{

    color: white;
}
.navEND a:hover::after{

    width: 100%;
    
}
.navEND #Kontakti{

    color: white;
}
.navEND #Kontakti::after{

    width: 100%;
}
.navEND #Kontakti:hover::after{

    width: 0%;
    color:black;
}

.sideBar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 450px ;
    background-color: rgba(0, 0, 0, 0.664);
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    display: none;
    backdrop-filter: blur(12px);
}

.sideBar a{
    text-decoration: none;
    width: 100%;
    height: 12vh;
    color: white;
    padding-left: 50px;
}
#hideIcon{
    padding-right: 40px;
}
.sideBar li{
    height: 12vh;
    list-style-type: none;
    margin-top: 20px;
    display: flex;
}

.sideBar li a{
    display: flex;
    align-items: center;
}
.sideBar li:not(#hideIcon):hover{

    background-color: rgb(152, 152, 152);
    width: 100%;
}

#menuIcon{
    display: none;
}

#hideIcon{
    width: fit-content;
 
}

@media(max-width:900px){

    .hideMobile{

        display: none;
    }

    #menuIcon{

        display: flex;
        width: fit-content;
        margin-bottom: 20px;
    }

}

@media (max-width:400px){

   .sideBar{
    width: 300px;
   }
    #navBar #menuIcon{
    justify-content: flex-end;
   margin-right: -50px;
   }
   #navBar .deltaLogo{

    height: 70px;
    width: 100px;
    justify-content: flex-start;
    margin-left: 20px;
    align-items: center;
}
}

#pageContainer{

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#pageContainer #formContainer form{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

#formContainer input{

    padding:15px;
    border: 0;
    background-color: rgb(241, 241, 241);
    transition: 0.3s ease-out;
    border: 1px solid rgb(163, 163, 163);
    height: 20px;
    width: 400px;
}   

#formContainer input:hover{

    background-color: white;
    transition: 0.3s ease-in;
}

#formContainer .login::placeholder{

    color: black;
    font-weight:500;
}
#formContainer #mesazh{

    padding-bottom: 150px;
    width: 420px;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgb(241, 241, 241); 
    transition: 0.3s ease-out;
}
#formContainer #mesazh:hover{

    background-color: white;
    transition: 0.3s ease-in;
}

#formContainer #register{

    display: flex;
    text-align: center;
    width: 90px;
    transition: 0.3s ease-out;
    border: none;
    background-color: rgba(0, 0, 0, 0.594);
    color: white;
    padding-bottom: 30px;
    padding-top: 15px;
    margin-top: 20px;
    font-size: 15px;
}

#formContainer #register:hover{

   background-color: rgb(0, 0, 0);
   color: white;
   transition: 0.3s ease-in;
}

#formContainer label{

    color: red;
    
}   

@media(max-width:400px){

    #formContainer input{

        padding:15px;
        border: 0;
        background-color: rgb(241, 241, 241);
        transition: 0.3s ease-out;
        border: 1px solid rgb(163, 163, 163);
        height: 20px;
        width: 300px;
    }
    #formContainer #mesazh{

        width: 320px;

    }

    #formContainer #HeadingID{

        margin-top: 100px;
        font-size: 20px;
        border-bottom: 1px solid black;
        margin-bottom: 30px;   
    }
}

#formContainer #HeadingID{

    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    width: fit-content;
    text-transform:uppercase;
    margin-bottom: 30px;
    width: 100%;
    justify-content: center;
}