*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    top: -5px;
    width: 100%;
    position:fixed;
    z-index: 10;
    opacity: 0.7;
    transition: 0.3s ease-out;
    background:linear-gradient(rgb(218, 218, 218),rgb(198, 198, 198));
    
}
#navBar:hover{

    opacity: 1;
    transition: 0.3s ease-in;
    top:0;
        
    }
.deltaLogo{

    height: 100px;
    width: 150px;
    margin-left: 70px;
}

.listaEND #produkte{

    color: white;
}
.listaEND{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    margin-right: 70px;
    margin-top: 20px;
    font-size: 20px;
    gap: 50px;
}

.navEND a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    transition: 0.3s ease;

}.navEND a::after{

    content: "";
    display: flex;
    position: relative;
    left: 10px;
    width: 0;
    margin-top: 5px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ease;

}
.navEND a:hover{

    color: white;
}
.navEND a:hover::after{

    width: 100%;
}
.navEND #produkte{

    color: white;
}
.navEND #produkte::after{

    width: 100%;
}

.navEND #produkte:hover::after{

    width: 0%;
    color:black;
    
}
#bgimage #background-img {
    position: absolute;
    height: 70vh;
    width: 100%;
    object-fit:cover;
    filter: brightness(50%);   
}
#bgimage{
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
}
#divTeksti {    
    color: white;
    z-index: 1;
    text-align: start;
    width: 100% ;
    margin-top: 300px;
}
#divTeksti .teksti1{

    z-index: 1;
    color: white;
    text-transform: uppercase;
    margin-left: 70px;
    margin-right: 15px;
}
#divTeksti #Titulli{

   font-size: 50px;
}
#divTeksti #paragraf{

    font-size: 20px;
    font-weight:lighter;
    padding-top: 10px;
}
.nenTitull{

    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
    
}
#Produktet-Nentitull{

    margin-top: 20px;
    font-size: 30px;
    color: black;
    text-align: center;
    border-bottom:1px solid black ;
    margin-right: 20px;
}

#divProduktet{

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    
    
}
#divProduktet .foto{

    margin: 30px;
    height: 300px;
    width: 260px;
     
}

#divProduktet p{
    text-align: start;
    padding-bottom: 20px;
    font-weight: b;
}
#divProduktet img{

 
    height: 300px;
    width: 260px;
}