*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    top: -5px;
    width: 100%;
    position:fixed;
    z-index: 10;
    opacity: 0.7;
    transition: 0.3s ease-out;
    background:linear-gradient(rgb(218, 218, 218),rgb(198, 198, 198));
    
}
#navBar:hover{

    opacity: 1;
    transition: 0.3s ease-in;
    top:0;
        
    }
.deltaLogo{

    height: 100px;
    width: 150px;
    margin-left: 70px;
}

.listaEND #produkte{

    color: white;
}
.listaEND{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    margin-right: 70px;
    margin-top: 20px;
    font-size: 20px;
    gap: 50px;
}

.navEND a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    transition: 0.3s ease;

}
.navEND a:not(.menuIcon)::after{

    content: "";
    display: flex;
    position: relative;
    left: 10px;
    width: 0;
    margin-top: 5px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ease;

}
.navEND a:hover{

    color: white;
}
.navEND a:hover::after{

    width: 100%;
}
.navEND #produkte{

    color: white;
}
.navEND #produkte::after{

    width: 100%;
}

.navEND #produkte:hover::after{

    width: 0%;
    color:black;
    
}

.sideBar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 450px ;
    background-color: rgba(0, 0, 0, 0.664);
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    display: none;
    backdrop-filter: blur(12px);
}

.sideBar a{
    text-decoration: none;
    width: 100%;
    height: 12vh;
    color: white;
    padding-left: 50px;
}
#hideIcon{
    padding-right: 40px;
}
.sideBar li{
    height: 12vh;
    list-style-type: none;
    margin-top: 20px;
    display: flex;
}

.sideBar li a{
    display: flex;
    align-items: center;
}
.sideBar li:not(#hideIcon):hover{

    background-color: rgb(90, 90, 90);
    width: 100%;
}

#menuIcon{
    display: none;
}

#hideIcon{
    width: fit-content;
 
}
@media(max-width:900px){

    .hideMobile{

        display: none;
    }

    #menuIcon{

        display: flex;
        width: fit-content;
        margin-bottom: 20px;
    }

}

@media (max-width:400px){

   .sideBar{
    width: 300px;
   }
    #navBar #menuIcon{
    justify-content: flex-end;
   margin-right: -50px;
   }
   #navBar .deltaLogo{

    height: 70px;
    width: 100px;
    justify-content: flex-start;
    margin-left: 20px;
    align-items: center;
}

#footerContainer .socialIcons{

    justify-content: center;
    width: fit-content;
    margin-left: 30px;
    gap: 10px;
}

#footerContainer .listaDIV li{

        display: flex;
        justify-content: center;
        width: 100%;
        padding: 5px;
        font-size: 18px;
        margin-top: 15px;
}
#divTeksti .teksti1{

    margin-top: -150px;
}

#bgimage #divTeksti .teksti1{

    font-size: 32px;
    padding-bottom: 0px;
}
#bgimage #divTeksti #paragraf{

    margin-top: 10px;
    font-size: 15px;
}
}
#bgimage #background-img {
    position: absolute;
    height: 70vh;
    width: 100%;
    object-fit:cover;
    filter: brightness(50%);   
}
#bgimage{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
#divTeksti {    
    color: white;
    z-index: 1;
    text-align: start;
    width: 100% ;
    margin-top: 300px;
}
#divTeksti .teksti1{

    z-index: 1;
    color: white;
    text-transform: uppercase;
    margin-left: 70px;
    margin-right: 15px;
}
#divTeksti #Titulli{

   font-size: 50px;
}
#divTeksti #paragraf{

    font-size: 20px;
    font-weight:lighter;
    padding-top: 10px;
}
.nenTitull{

    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 200px;
}
#Produktet-Nentitull{

    font-size: 30px;
    color: black;
    text-align: center;
    border-bottom:1px solid black ;
    margin-right: 20px;
}

#divProduktet{

    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    
    
}
#divProduktet .foto{

    margin: 30px;
    height: 300px;
    width: 260px;
     
}

#divProduktet p{
    text-align: start;
    padding-bottom: 20px;
    font-weight: bold;
}
#divProduktet img{

 
    height: 300px;
    width: 260px;
}

#footerContainer{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 50vh;
    background-color: rgb(15, 15, 15);
    color: rgb(209, 209, 209);
    margin-top: 50px;
}
#paragrafiFundit{

    width: 100%;
}

#paragrafiFundit p {

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;   
    padding: 15px;
    background-color: black;
   margin-top: 10px;
   border-top: 1px solid rgb(45, 45, 45);
}

#footerContainer #paragrafiFundit{

    align-items: end;

}

#footerContainer .listaDIV{

    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.socialIcons img{

    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.socialIcons{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width:fit-content;
   margin-left: 130px;
} 
.socialIcons #nrTel{

    display: flex;
    align-self: center;
    align-items: center;
}
#footerContainer .listaDIV{

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    font-size: 18px;
}
.listaDIV li{

    list-style-type: none;
    margin-top: 30px;
}

#footerContainer .listaDIV a{

    color: white;
    color: rgb(189, 189, 189);
    transition: 0.3s ease
}

#footerContainer .listaDIV a:hover{

    color: white;

}