*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.divImage{
    position: relative;
}

.divImage .bg{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.divTeksti {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 25%;
    right: 65%;
    padding: 10px;
   transition: 0.5s ease;
 
}

.divTeksti:hover{

    font-size: 40px;
    transition: 0.5s ease;
}

.butoniInspirohu{

    padding: 26px 16px;
    border-radius: 2px;
    border: none;
    font-size: large;
    background-color: white;
    text-transform: uppercase;
    color: rgb(69, 69, 69);
    font-weight: lighter;
    transition: 0.3s ease-out;
    margin-top: 10px;
}

.butoniInspirohu:hover{

    padding: 27px 20px;
    transition: 0.3s ease-in;
    color: white;
    background-color: rgb(0, 0, 0);
}

p{
    font-weight: 100;
    font-size: 30px;

}

#navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(231, 231, 231);
    width: 100%;

}
 
.deltaLogo{

    height: 100px;
    width: 150px;
    margin-left: 70px;
}
.listaEND{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    margin-right: 70px;
    margin-top: 20px;
    font-size: 20px;
    gap: 50px;
}

.navEND a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    transition: 0.3s ease;

}.navEND a::after{

    content: "";
    display: flex;
    position: relative;
    left: 10px;
    width: 0;
    margin-top: 5px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s ease;

}
.navEND a:hover{

    color: white;
}
.navEND a:hover::after{

    width: 100%;
}

.produkte{

    display: flex;
    flex-direction: row;
    height: 300px;
    width: 260px;
    background-color: rgb(108, 108, 108);
    margin: 30px;
    margin-top: 0px;
}

.Produktet{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    
}
#pllakaTitull{
    margin-top: 30px;
    margin-left: 200px;
    border:solid black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid black;
    margin-right: 1220px;
    padding-bottom: 2px;
    border-style:groove;
}
.produkte>img{

    box-shadow: 0 0 5px rgb(165, 165, 165), 0 1px 2px rgb(165, 165, 165);
    height: 300px;
    width: 260px;
    transition: 0.2s ease-out;
}

.produkte>img:hover{

    opacity: 0.5;
    height: 300px;
    width: 260px;
    transition: 0.2s ease-in;
   
}