*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.bg{

    width: 100%;
}

.divImageDesc{

    display: flex;
    justify-content: center;
    justify-items: start;
}

#navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(234, 236, 238);
    width: 100%;

}

.deltaLogo{

    height: 100px;
    width: 150px;
    margin-left: 70px;
}
.listaEND{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    margin-right: 50px;
    font-size: 20px;
    gap: 50px;
   
}

.navEND a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    transition: 0.3s;
}

.navEND a:hover{
   color: rgb(255, 255, 255);
}
